{% load static %}
<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #3CB371	;">
    <a href="/"><img src="{% static 'images/mark-github.svg' %}" alt="" width="200" height="50"></a>

    <div class="container">
        <div class="collapse navbar-collapse" id="navbar">

         <ul class="navbar-nav me-auto">

            <li class="nav-item">
                <a href="/" class="nav-link"><strong>Ara</strong></a>
                </li>
    
            <li class="nav-item">
            <a href="about" class="nav-link"><strong>Hakkımızda</strong></a>
            </li>

            <li class="nav-item">
                <a href="favorites" class="nav-link"><strong>Favori Adaylar</strong></a>
            </li>
        </ul>

        <ul class="navbar-nav ms-auto">

            {% if user.is_authenticated %}
          
            <li class="nav-item">
                <a href="" class="nav-link"><strong>Hoşgeldin, {{ user.username|title }} | </strong></a>
            </li>
            <li class="nav-item">
                <a href="logout" class="nav-link"><strong style="color: red;">Çıkış Yap</strong></a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="account/login" class="nav-link"><strong>Giriş</strong></a>
            </li>

            <li class="nav-item">
                <a href="account/register" class="nav-link"><strong>Kayıt Ol</strong></a>
            </li>
           
        
        
        </ul>
        {% endif %} 

</div>
</div>
</nav>